# ==============================================
# MTK Policy Rule
# ==============================================

# Grant read access to mtk core property type which represents all
# mtk properties except those with ctl_xxx prefix.
# Align Google change: f01453ad453b29dd723838984ea03978167491e5
get_prop(domain, mtk_core_property_type)

# Allow all processes to search /sys/kernel/debug/binder/ since it's has been
# labeled with specific debugfs label and many violations to dir search debugfs_binder
# are observed. Grant domain to suppress the violations as originally "debugfs:dir search"
# is also allowed to domain as well in Google default domain.te
allow domain debugfs_binder:dir search;

# Allow all processes to read /sys/bus/platform/drivers/dev_info/dev_info
# as it is a public interface for all processes to read some OTP data.
allow domain sysfs_devinfo:file r_file_perms;
# ==============================================
# MTK Policy Rule
# ==============================================

# allow domain anr_data_file:file append;

# Fingerprint device
allow domain esfp0_device:chr_file rw_file_perms;
