import init.mt6735.usb.rc
import init.mt6735.power.rc

on post-fs-data
    # Camera
    chmod 0660 /dev/MAINAF
    chmod 0660 /dev/MAINAF2
    chmod 0660 /dev/SUBAF
    chmod 0660 /dev/GAF001AF
    chmod 0660 /dev/DW9714AF
    chmod 0660 /dev/AD5820AF
    chmod 0660 /dev/BU64745GWZAF

    chown system camera /dev/MAINAF
    chown system camera /dev/MAINAF2
    chown system camera /dev/SUBAF
    chown system camera /dev/GAF001AF
    chown system camera /dev/DW9714AF
    chown system camera /dev/AD5820AF
    chown system camera /dev/BU64745GWZAF

    # SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    # Define device for ATCID
    chmod 0660 /dev/ttyGS0
    chmod 0660 /dev/ttyGS1
    chown system /dev/ttyGS0
    chown system /dev/ttyGS1

    chmod 0666 /dev/exm0

on boot
    # Enable KSM
    swapon_all fstab.mt6735
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /sys/module/process_reclaim/parameters/pressure_min 50
    write /sys/module/process_reclaim/parameters/per_swap_size 512
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059
    write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,36864,46080"
    write /proc/sys/vm/min_free_kbytes 1024
    write /proc/sys/vm/extra_free_kbytes 3075
    write /sys/kernel/mm/ksm/pages_to_scan 150
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    # Tune I/O
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

