# device specific syscalls
# extension of services/mediacodec/minijail/seccomp_policy/mediacodec-seccomp-arm.policy
sched_getparam: 1
sched_getscheduler: 1
sched_setaffinity: 1
pselect6: 1
eventfd2: 1
sendto: 1
recvfrom: 1
getsockopt: 1
# ffmpeg needs this
getdents64: 1
_llseek: 1
sysinfo: 1
fsync: 1
mlock: 1
munlock: 1
setsockopt: 1
setrlimit: 1
